.a
{
	height: 10%;
	
}
.ab
{
	height: 90%;
}
.a3
{
	
}
.a4
{
	
}
.b
{
	height: 20%;
}
.c
{
 height: 35%;

}
.ca
{
	height: 100%;

}
.cb
{
	height: 100%;
}
.d
{
height: 30%;

}
.e
{
height: 35%
}
.f
{
 height:70%;

}
.g
{
	height: 10%;
}